.scrollAnimation {
    animation: 15s scrollText 0.2s infinite linear;
}

@media (min-width: 768px) {
    .scrollAnimation {
        animation: unset;
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}