.inputBorderStyle {
    border-bottom: 1px solid #626262;
}

.textAreaStyle {
    resize: none;
    border-bottom: 1px solid #626262;
}

.contactInput {
    color: #FFA3CE;
}

.contactInputPlaceholder::placeholder {
    color: #FFA3CE;
}