:root {
  --main-color: hotpink;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: 0;
  background: none;
}

ol,
ul {
  list-style: none;
}

.bar-of-progress {
  z-index: 50;
}
